<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img src = "/assets/img/weibull_model.png" alt = "survival-weibull">
  </div>
  <div class="contents">
    <h3> Alzheimer's Disease Survival Analysis </h3>
    <p>In this project, we analyzed a large synthetic health dataset to identify which factors are most closely associated with Alzheimer’s diagnosis over time. Using R, we applied survival analysis methods (including Kaplan-Meier, Weibull, and Cox proportional hazards models) to explore and predict diagnosis risk based on cognitive, functional, and behavioral assessments. Along the way, we compared models, checked assumptions, and visualized survival trends by gender. This work highlights skills in statistical modeling, feature selection, and translating health data into actionable insights.</p>
    <a class="project-link" href="https://github.com/ljwaters/alzheimers-surv-analysis">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img src="/assets/img/rent_growth.png" alt="rent-growth">
  </div>
  <div class="contents-right">
    <h3> ASA DataFest 2025: Gentrification Risk Forecasting </h3>
    <p>As part of a 48-hour nationwide data challenge, my team and I analyzed a massive real estate dataset to predict which U.S. submarkets are most at risk for commercial gentrification. We developed and compared machine learning models (Logistic Regression and XGBoost), achieving strong accuracy, and built an interactive GIS dashboard using Shiny to visualize at-risk regions in real time. Our approach combined predictive modeling with thoughtful data visualization, ultimately earning us the Best Data Visualization award, as voted by faculty and alumni. This project was a real growth moment for me, reflecting not just technical skills in modeling and non-parametric analysis, but also the ability to communicate complex results clearly to a wider audience.</p>
    <a class="project-link" href="https://github.com/ljwaters/gentrification_risk_forecasting/tree/main">Check it out</a>
  </div>
</div>
